.checkBox {
  input[type="checkbox"] {
    scale: 1.5;
    appearance: none;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    // border: 0.1em solid black;
    border-radius: 4px;
    transform: translateY(0.8em);
    display: grid;
    place-content: center;
    &:before {
      content: "";
      width: 1em;
      height: 1em;
      transform: scale(0);
      transition: 120ms transform;
      background-size: cover;
    }

    &:checked {
      border: 0.1em solid #4a3de5;
      color: #4a3de5;

      &:before {
        transform: scale(1);
        background-image: url("../../assets/check.svg");
      }
    }
  }
}
